
.box{
    width: 375px;
    height: 375px;
    border: 2px solid #f7f7f7;
    border-radius: 0.125rem;
    overflow: auto;
}
.msg-bg{
    margin: 0;
    margin-bottom: 4px;
    text-transform: capitalize;
    background-color: floralwhite;
    padding: 4px 10px;
    border-radius: 0.125rem;
    width: fit-content;
}
.bg-change{
    background-color: cornsilk;
}